#jumjum{
	background-color: pink;
	font-family: 'Playfair Display';
}
#navi{
	font-family: 'Karma';
	font-weight: bold;
}
.imgdpn img{
	width: 200px;
	height: 270px;
}
.seemore{
	background-color: pink;
}